:root {
    --main-color: #515070;
    --main-bg-color: #5150700c;
    --second-color: #FFBB91;
    --highlight-color: #FF8E6E;
    --bg-color: #F6F6F6;
    --font-color: #fff;
    --fontb-color: black;
    --gray-color: rgb(73, 73, 73);
}