body {
    background: url('../../images/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bg h2 {
    margin-bottom: 30px;
}

.form-input {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-input input {
    height: 25px;
    padding: 6px 13px;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 30px;
    margin: 5px 0;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.form-input button {
    width: 320px;
    padding: 8px 0;
    border-radius: 30px;
    margin-top: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    background-color: var(--highlight-color);
    margin-bottom: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}